.features-container {
  @include gutter(padding-top, 2.5);
  @include gutter(padding-bottom, 2);

  @include media(max-width medium) {
    @include gutter(padding-top, 3);
  }
}

.features-section-list {
  @include gutter(margin-left, -0.5);
  @include gutter(margin-right, -0.5);
  @extend %clearfix;
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
  margin: 0 -$spacing-m;
}

.features-item-illustration {
  margin-bottom: $spacing-m;
}

.features-section-item {
  @include gutter(padding-left, 0.5);
  @include gutter(padding-right, 0.5);
  flex: 1 1 percentage(1 / 4);

  @include media(max-width large) {
    flex: 1 1 percentage(1 / 2);
    margin-bottom: $spacing-l;
    text-align: left;
  }

  @include media(max-width medium) {
    flex: 1 1 percentage(1 / 1);
    margin-bottom: $spacing-l;
    text-align: center;
  }
}

.features-section-title {
  @extend %heading-5;
  margin-top: 0;
  margin-bottom: $spacing-xs;
}

.features-section-text {
  margin-top: $spacing-s;
}
