.features-container {
  @include gutter(padding-top, 2.5);
  @include gutter(padding-bottom, 2);

  @include media(max-width medium) {
    @include gutter(padding-top, 3);
  }
}

.features-section-list {
  @extend %grid;
}

.features-item-illustration {
  margin-bottom: $spacing-m;
}

.features-section-item {
  @include col(1, 4);

  @include media(max-width large) {
    @include col(2, 4);
    margin-bottom: $spacing-l;
    text-align: left;
  }

  @include media(max-width medium) {
    @include col(1, 1);
    margin-bottom: $spacing-l;
    text-align: center;
  }
}

.features-section-title {
  @extend %heading-5;
  margin-top: 0;
  margin-bottom: $spacing-xs;
}

.features-section-text {
  margin-top: $spacing-s;
}
