.features-container {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
}

.features-section-list {
  @extend %clearfix;
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
  margin: 0 -$spacing-m;
}

.features-item-illustration {
  margin-bottom: $spacing-m;
}

.features-section-item {
  @include padding-gutters;
  flex: 1 1 percentage(1 / 4);
  text-align: center;

  @include media(max-width medium) {
    flex: 1 1 percentage(1 / 2);
    margin-bottom: $spacing-l;
  }
}

.features-section-title {
  @extend %heading-6;
  font-family: $font-body;
  margin-top: 0;
  margin-bottom: $spacing-xs;
}

.features-section-text {
  margin-top: $spacing-s;
}
