.menu-features-container {
  @include gutter(padding-bottom, 3);
  overflow: hidden;
}

.menu-features-section-list {
  @extend %grid;
}

.menu-features-item-icon {
  color: $color-accent;

  svg {
    width: $icon-size-large;
    height: $icon-size-large;
  }
}

.menu-features-section-title {
  @extend %heading-5;
  margin-bottom: 0;
}

.menu-features-section-text {
  margin-top: $spacing-s;
  margin-bottom: 0;
}

.menu-features-section-item {
  @include col(1, 3);
  margin-bottom: $spacing-xl;
  text-align: center;

  @include media(max-width medium) {
    @include col(1, 2);
  }

  @include media(max-width small) {
    @include col(1, 1);
  }
}

.menu-features-section-cta {
  @include gutter(margin-top, 0.5);
}

.menu-features-section-image {
  width: 500px;
  margin: 0 auto;
}
