.testimonials-section {
  background-color: $color-background-alternative;

  .section-header {
    max-width: 500px;
    position: relative;
    margin-left: 0;
    text-align: left;
  }
}

.testimonials-container {
  @include gutter(padding-bottom, 3);
  position: relative;
}

.testimonials-section-banner {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.testimonials-section-list {
  @include gutter(margin-left, -1);
  @include gutter(margin-right, -1);
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.testimonials-section-item {
  @include padding-gutters;
  flex: 1 1 percentage(1 / 3);
  text-align: center;

  @include media(max-width medium) {
    @include gutter(margin-bottom, 2);
    flex: 1 1 percentage(1 / 1);
  }
}

.testimonials-section-inner {
  @include gutter(padding-top);
  @include gutter(padding-bottom);
  @include padding-gutters;
  background: $color-background;
  box-shadow: 2px -2px 39px 0px rgba(0,0,0,0.15);
}

.testimonials-section-rating {

}

.testimonials-section-title {

}

.testimonials-section-text {
  @include font-size($fs-body-large);
}
