@font-face {
  font-family: 'Sweetly Text';
  src: url('~fonts/BasisGrotesquePro-Regular.woff2') format('woff2'),
      url('~fonts/BasisGrotesquePro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sweetly Display';
  src: url('~fonts/CircularStd-Bold.woff2') format('woff2'),
      url('~fonts/CircularStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sweetly Display';
  src: url('~fonts/CircularStd-Book.woff2') format('woff2'),
      url('~fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sweetly Text';
  src: url('~fonts/BasisGrotesquePro-Bold.woff2') format('woff2'),
      url('~fonts/BasisGrotesquePro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sweetly Display';
  src: url('~fonts/CircularStd-Medium.woff2') format('woff2'),
      url('~fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sweetly Text';
  src: url('~fonts/BasisGrotesquePro-Medium.woff2') format('woff2'),
      url('~fonts/BasisGrotesquePro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
