html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.section-container {
  @extend %layout-container, %clearfix;
}

.section-header {
  @include gutter(margin-top, 3);
  @include gutter(margin-bottom, 2.5);
  max-width: $section-max-width;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.section-title {
  @extend %heading-2;
  margin-top: 0;
  margin-bottom: 0;
}

.section-text {
  @include font-size($fs-body-large);
  @include gutter(margin-top, 0.25);
}

.section-text + button {
  @include gutter(margin-top, 0.5);
}

.section-cta {
  text-align: center;
}
