<section class="features-section">
  <div class="features-container section-container">
  <div class="features-section-list">
    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'icon' with 'box' %}
      </div>
      <h3 class="features-section-title">Desserts you'll love</h3>
      <p class="features-section-text">Cook from a globally inspired, chef-designed menu with 20 recipes (plus dessert!) each week.</p>
    </div>

    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'icon' with 'desserts' %}
      </div>
      <h3 class="features-section-title">Sweeten up your day</h3>
      <p class="features-section-text">Cook from a globally inspired, chef-designed menu with 20 recipes (plus dessert!) each week.</p>
    </div>

    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'icon' with 'wine' %}
      </div>
      <h3 class="features-section-title">Fun with the family</h3>
      <p class="features-section-text">Cook from a globally inspired, chef-designed menu with 20 recipes (plus dessert!) each week.</p>
    </div>

    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'icon' with 'prepare' %}
      </div>
      <h3 class="features-section-title">Sweet tooth solved</h3>
      <p class="features-section-text">Cook from a globally inspired, chef-designed menu with 20 recipes (plus dessert!) each week.</p>
    </div>
  </div>
  </div>
</section>
