<section class="features-section">
  <div class="features-container section-container">
  <div class="features-section-list">
    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'illustration' with 'box' %}
      </div>
      <h3 class="features-section-title">Desserts you'll love</h3>
      <p class="features-section-text">Have fun learning the art of baking with custom, chef designed recipes and hand selected ingredients conveniently shipped to your door.</p>
    </div>

    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'illustration' with 'desserts' %}
      </div>
      <h3 class="features-section-title">Unpack your dessert box</h3>
      <p class="features-section-text">We deliver to you locally sourced ingredients to bake delicious desserts with an easy to follow recipe guide.</p>
    </div>

    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'illustration' with 'wine' %}
      </div>
      <h3 class="features-section-title">Fun and easy to follow baking</h3>
      <p class="features-section-text">Follow Sweetly’s fun and interactive recipe guides made to offer you insider tips and tricks in learning the art of baking.</p>
    </div>

    <div class="features-section-item">
      <div class="features-item-illustration">
        {% include 'illustration' with 'prepare' %}
      </div>
      <h3 class="features-section-title">Satisfy your sweet tooth</h3>
      <p class="features-section-text">Enjoy your handmade creations with the family and satisfy your sweet tooth!</p>
    </div>
  </div>
  </div>
</section>
