  <section class="featured-recipes-section">
    <div class="featured-recipes-section-container section-container">
      <div class="section-header">
        <h2>Favourite Recipes</h2>
      </div>

      <div class="featured-recipes-list">
        <div class="product-item">
          <div class="product-item-inner">
            <div class="product-item-image">
              <img src="{{ 'product-image-alt.jpg' | asset_url }}" />
            </div>
            <div class="product-item-content">
              <h3>Starberry Jam</h3>
              <p>A selection of wonderful jam dessert, created with excellent preparation</p>
            </div>
            <div class="product-item-details">
              <div class="product-item-details-duration">
                40 mins
              </div>
            </div>
          </div>
        </div>

        <div class="product-item">
          <div class="product-item-inner">
            <div class="product-item-image">
              <img src="{{ 'product-image.jpg' | asset_url }}" />
            </div>
            <div class="product-item-content">
              <h3>Starberry Jam</h3>
              <p>A selection of wonderful jam dessert, created with excellent preparation</p>
            </div>
            <div class="product-item-details">
              <div class="product-item-details-duration">
                40 mins
              </div>
            </div>
          </div>
        </div>

        <div class="product-item">
          <div class="product-item-image">
            <img src="{{ 'product-image-3.jpg' | asset_url }}" />
          </div>
          <div class="product-item-content">
            <h3>Starberry Jam</h3>
            <p>A selection of wonderful jam dessert, created with excellent preparation</p>
          </div>
          <div class="product-item-details">
            <div class="product-item-details-duration">
              40 mins
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
