{% assign has_image = false %}

<section class="menu-features-section {% unless has_image %}menu-features-section-has-image{% endundless %">
  <div class="menu-features-container section-container">
    <div class="section-header">
      <h2 class="section-title">What's inside a Sweetly box</h2>
      <p class="section-text">Your Sweetly box comes filled with delicious, chef designed recipes, locally-sourced perfectly portioned ingredients designed into a fun baking experience for you to make sweet treats and delicious treats.
      <p>
      {% comment %} <img class="menu-features-section-image" src="{{ 'sweetly-packaging.png' | asset_url }}" /> {% endcomment %}
    </div>
    <div class="menu-features-section-list">
      <div class="menu-features-section-item">
        <div class="menu-features-item-icon">
          {% include 'icon' with 'marmalade' %}
        </div>
        <h3 class="menu-features-section-title">Fun recipe how-to's</h3>
        <p class="menu-features-section-text">Easy to follow recipes with inside tips and tricks made to make the experience of learning to bake fun again!</p>
      </div>

      <div class="menu-features-section-item">
        <div class="menu-features-item-icon">
          {% include 'icon' with 'chef' %}
        </div>
        <h3 class="menu-features-section-title">Individual recipe packages</h3>
        <p class="menu-features-section-text">High quality locally sourced ingredients hand chosen by our expert chef and staff pre-portioned and individually packaged
        </p>
      </div>

      <div class="menu-features-section-item">
        <div class="menu-features-item-icon">
          {% include 'icon' with 'dish' %}
        </div>
        <h3 class="menu-features-section-title">Sweet treats monthly</h3>
        <p class="menu-features-section-text">A variety of sweet treats every month including cakes, cookies, cupcakes, candies and more.
</p>
      </div>

      <div class="menu-features-section-item">
        <div class="menu-features-item-icon">
          {% include 'icon' with 'cupcake' %}
        </div>
        <h3 class="menu-features-section-title">Have fun making</h3>
        <p class="menu-features-section-text">An experience designed to bring the fun back to family time!</p>
      </div>

      <div class="menu-features-section-item">
        <div class="menu-features-item-icon">
          {% include 'icon' with 'pancake' %}
        </div>
        <h3 class="menu-features-section-title">Sweet tooth solved</h3>
        <p class="menu-features-section-text">Cook from a globally inspired, chef-designed menu with 20 recipes (plus dessert!) each week.</p>
      </div>

      <div class="menu-features-section-item">
        <div class="menu-features-item-icon">
          {% include 'icon' with 'cherries' %}
        </div>
        <h3 class="menu-features-section-title">Sweet tooth solved</h3>
        <p class="menu-features-section-text">Cook from a globally inspired, chef-designed menu with 20 recipes (plus dessert!) each week.</p>
      </div>
    </div>

    <div class="section-cta menu-features-section-cta">
      <button class="button button-large button-primary">Choose a package</button>
    </div>
  </div>
</section>
