<div class="review-icons">
  {% include 'icon' with 'star-filled' %}
  {% include 'icon' with 'star-filled' %}
  {% include 'icon' with 'star-filled' %}
  {% include 'icon' with 'star-filled' %}
  {% include 'icon' with 'star' %}
</div>
