<section class="testimonials-section">
  <div class="testimonials-container section-container">
    <div class="testimonials-section-banner">
      <img src="{{ 'testimonials-banner.jpg' | asset_url }}" />
    </div>

    <div class="section-header">
      <h2 class="section-title">What others are saying</h2>
      <p class="section-text">People just  like you, use Sweetly on a weekly basis. Here's what they have to say.<p>
    </div>

    <div class="testimonials-section-list">

      <div class="testimonials-section-item">
        <div class="testimonials-section-inner">
          <div class="testimonials-item-stars">
            {% include 'review-stars' %}
          </div>
          <p class="testimonials-section-text">Being able to get easy to use dessert recipes and ingredients shipped to me every month has given us valuable family time while learning to bake!</p>
        </div>
      </div>

      <div class="testimonials-section-item">
        <div class="testimonials-section-inner">
          <div class="testimonials-item-stars">
            {% include 'review-stars' %}
          </div>
          <p class="testimonials-section-text">I enjoy Sweetly’s broad range of dessert recipes that are fun and easy to make!</p>
        </div>
      </div>

      <div class="testimonials-section-item">
        <div class="testimonials-section-inner">
          <div class="testimonials-item-stars">
            {% include 'review-stars' %}
          </div>
          <p class="testimonials-section-text">Sweetly’s brought the fun back into baking for me. Measuring is no longer a hassle.Getting perfectly portioned ingredients is like night and day!</p>
        </div>
      </div>

    </div>

  </div>
</section>
