<section class="testimonials-section">
  <div class="testimonials-container section-container">
    <div class="testimonials-section-banner">
      <img src="{{ 'testimonials-banner.jpg' | asset_url }}" />
    </div>

    <div class="section-header">
      <h2 class="section-title">What our customers are saying</h2>
      <p class="section-text">People just like you, use Sweetly on a weekly basis. Here's what they have to say.<p>
    </div>

    <div class="testimonials-section-list">

      <div class="testimonials-section-item">
        <div class="testimonials-section-inner">
          <div class="testimonials-item-stars">
            {% include 'review-stars' %}
          </div>
          <p class="testimonials-section-text">By far the best desserts I’ve ever tried in my life!</p>
        </div>
      </div>

      <div class="testimonials-section-item">
        <div class="testimonials-section-inner">
          <div class="testimonials-item-stars">
            {% include 'review-stars' %}
          </div>
          <p class="testimonials-section-text">By far the best desserts I’ve ever tried in my life!</p>
        </div>
      </div>

      <div class="testimonials-section-item">
        <div class="testimonials-section-inner">
          <div class="testimonials-item-stars">
            {% include 'review-stars' %}
          </div>
          <p class="testimonials-section-text">By far the best desserts I’ve ever tried in my life!</p>
        </div>
      </div>

    </div>

  </div>
</section>
