$menu-breakpoint: 860px;

.site-header {
  position: relative;
  z-index: 150;
  background: transparent;
  opacity: 0;
  transform: translateY(-20px);
  transition: background-color $transition-long ease,
              opacity $transition-long ease,
              transform $transition-long $ease-out-quad;
  transition-delay: 0.2s;

  &:hover {
    background: $color-background;
  }

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }

  @include media(medium) {
    padding: $spacing-s 0;
  }

  .logo-image {
    display: flex;
    width: auto;
    height: auto;
    color: $color-secondary;

    svg {
      margin-top: $spacing-xs;
      width: auto;
      max-width: 100px;
      height: 100%;
      max-height: 50px;

      @include media(max-width medium) {
        height: 30px;
      }
    }
  }

  header {
    display: inline-block;
    flex: 1;
    margin-left: auto;

    h1 { margin: 0; }

    @include media(max-width $menu-breakpoint) {
      flex: 1;
      align-items: center;
    }
  }
}

.site-header-container {
  @extend %layout-container, %clearfix;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
}

.site-navigation {
  text-align: center;

  li {
    @extend %menu;
    display: inline-block;

    a {
      padding: $spacing-l $spacing-m;
      color: $color-text;
      transition: color $transition-medium $ease-out-quad;

      &:hover {
        color: $color-accent;
      }
    }
  }
}

.site-navigation-desktop {
  @include media(max-width $menu-breakpoint) {
    display: none;
  }
}

.site-header-action {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;

  > li {
    @extend %menu;
    display: inline-block;

    &:first-child {
      margin: 0 $spacing-m;
    }
  }

  #customer_register_link {
    @extend %button-primary;
  }

  #customer_login_link {
    @include media(max-width small) {
      display: none;
    }
  }
}

.mobile-navigation-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
  margin-right: $spacing-s;
  margin-left: -$spacing-s;
  visibility: visible;
  cursor: pointer;
  transition: color $transition-medium ease,
              visibility $transition-medium ease;

  &:hover {
    color: $color-text;
  }

  @include media($menu-breakpoint) {
    visibility: hidden;
    display: none;
  }

  .icon-close {
    @extend %center-within;
    position: absolute;
    visibility: visible;
    display: none;
  }
}
