// Hero specific breakpoints
$hero-small: 865px;

.hero-section {
  padding-top: 40px;
  margin-top: -80px;
  background: #F7F3FE;
  background-image: url('~images/hero-sweetly.jpg');
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  transition: background-image $transition-medium ease-in;

  @include media(max-width medium) {
    background-size: 60%;
    background-position: 110% 50%;
  }

  @include media(max-width $hero-small) {
    background-size: 75vh;
    background-position: center -5%;
    height: 100vh;
  }
}

.hero-section-container {
  @extend %layout-container;
}

.hero-section-content {
  max-width: rem(450px);
  padding: rem(220px) 0;

  @include media(max-width large) {
    max-width: rem(380px);
  }

  @include media(max-width $hero-small) {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: rem(340px);
    padding-bottom: $spacing-xl;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-50%);
  }
}

.hero-section-title {
  @include font-size($fs-display-1);
  margin: 0;
}

.hero-section-text {
  @include font-size($fs-body-large);
  margin-top: $spacing-m;
  margin-bottom: 0;

  @include media(max-width small) {
    margin-top: $spacing-s;
  }
}

.hero-section-button {
  margin-top: $spacing-l;

  @include media(max-width small) {
    margin-top: $spacing-m;
  }
}
