// Hero specific breakpoints
$hero-small: 865px;
$hero-large: 1200px;

.hero-section {
  position: relative;
  padding-top: 40px;
  margin-top: -80px;
  background-image: url('~images/sweetly-hero.jpg');
  background-color: $color-background-alternative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  &.hero-content-center-aligned {
    @include media(max-width $hero-small) {
      background-size: 120%;
      background-position: bottom center;
    }
  }
}

.hero-banner-image {
  @extend %center-within;
  left: auto;
  position: absolute;
  right: 8%;
  width: 50%;
  overflow: visible;
  transition: background-image $transition-medium ease-in;

  @include media(max-width $hero-small) {
    position: relative;
    padding-top: $spacing-m;
    z-index: 50;
    width: 100vw;
    transform: translateY(0);
    margin: 0 auto;
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}

.hero-section-container {
  @extend %layout-container;
  position: relative;
}

.hero-section-content {
  @include gutter(padding-top, 5.25);
  @include gutter(padding-bottom, 5);
  position: relative;
  z-index: 100;
  max-width: rem(450px);

  @include media(max-width $hero-large) {
    max-width: rem(460px);
    padding: rem(120px) 0;
  }

  @include media(max-width $hero-small) {
    max-width: rem(460px);
    padding-top: $spacing-s;
    margin-top: -100px;
    padding-bottom: $spacing-xl;
    margin: 0 auto;
    text-align: center;
  }

  .hero-content-center-aligned & {
    max-width: rem(550px);
    margin: 0 auto;
    text-align: center;

    @include media(max-width $hero-small) {
      padding: rem(140px) 0 rem(200px) 0;
    }
  }
}

.hero-section-title,
.hero-section-text,
.hero-section-button {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s $ease-out-quad,
              opacity $transition-short ease;

  .animate & {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section-title {
  @include font-size($fs-display-1);
  margin: 0;
}

.hero-section-text {
  @include font-size($fs-body-large);
  @include gutter(margin-top, 0.25);
  transition-delay: 0.2s;
}

.hero-section-button {
  @include gutter(margin-top);
  transition-delay: 0.4s;

  @include media(max-width small) {
    margin-top: $spacing-m;
  }
}
