// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-heading: 'Publico', 'Sweetly Display', sans-serif;
$font-heading-weight: 700;
$font-body: 'Cerebri Sans', 'Sweetly Text', sans-serif;
$font-body-weight: var(--font-body-weight);
$font-body-weight-medium: 500;
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);
$font-menu: $font-body;
$font-menu-weight: 500;

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$max-width: 1400px;
$grid-medium: 750px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-max-width: $max-width;
$grid-gutter: 30px;

// Icons
$icon-size-smallest: 16px;
$icon-size-smaller: 20px;
$icon-size-small: 24px;
$icon-size-medium: 32px;
$icon-size-large: 48px;
$icon-size-xlarge: 64px;

// Breakpoints
$breakpoints: (
  xsmall: 360px,
  small : 480px,
  small-up: 481px,
  medium: 720px,
  medium-up: 721px,
  large : 1140px,
  large-up: 1141px,
  widescreen: 1400px,
  widescreen-up: 1401px,
) !default;
