// Body
$fs-body: (
  null  : (16px, 1.5),
);

$fs-body-large: (
  small: (16px, 1.5),
  medium : (18px, 1.5),
  large : (20px, 1.5)
);

$fs-body-medium: (
  null  : (18px, 1.5),
);

$fs-body-small: (
  null  : (14px, 1.5),
);

$fs-body-smaller: (
  null  : (12px, 1.5),
);

$fs-body-smallest: (
  null  : (10px, 1.5),
);

// Headings
$fs-heading-1: (
  null  : (40px, 1.2),
);

$fs-heading-2: (
  null  : (32px, 1.2),
);

$fs-heading-3: (
  null  : (28px, 1.3),
);

$fs-heading-4: (
  null  : (24px, 1.4),
);

$fs-heading-5: (
  null  : (20px, 1.5),
);

$fs-heading-6: (
  null  : (18px, 1.5),
);

$fs-display-1: (
  null  : (32px, 1.2),
  small: (40px, 1.2),
  medium : (48px, 1.2),
);

$fs-button-small: (
  null: (14px, 1.2),
  medium: (16px, 1.2),
);

$fs-button-medium: (
  null: (16px, 1.2),
  small: (18px, 1.2),
);

%heading {
  font-family: $font-heading;
  font-weight: 500;
  color: $color-heading;
}

%heading-1 {
  @extend %heading;
  @include font-size($fs-heading-1);
}

%heading-2 {
  @extend %heading;
  @include font-size($fs-heading-2);
}

%heading-3 {
  @extend %heading;
  @include font-size($fs-heading-3);
}

%heading-4 {
  @extend %heading;
  @include font-size($fs-heading-4);
  font-family: $font-body;
}

%heading-5 {
  @extend %heading;
  @include font-size($fs-heading-5);
  font-family: $font-body;
}

%heading-6 {
  @extend %heading;
  @include font-size($fs-heading-6);
  font-family: $font-body;
}

%body {
  @include font-size($fs-body);
  font-family: $font-body;
  font-style: $font-body-style;
  font-weight: $font-body-weight;
  color: $color-text-subdued;
}
