// Body
$fs-body: (
  null  : (16px, 1.6),
  medium : (16px, 1.6),
);

$fs-body-large: (
  null: (16px, 1.6),
  medium : (18px, 1.6),
  large : (20px, 1.6)
);

$fs-body-medium: (
  null  : (18px, 1.6),
);

$fs-body-small: (
  null  : (14px, 1.6),
);

$fs-body-smaller: (
  null  : (12px, 1.6),
);

$fs-body-smallest: (
  null  : (10px, 1.6),
);

// Headings
$fs-heading-1: (
  null  : (40px, 1.2),
);

$fs-heading-2: (
  null  : (28px, 1.2),
  small : (32px, 1.4),
  medium : (40px, 1.4),
);

$fs-heading-3: (
  null  : (28px, 1.3),
);

$fs-heading-4: (
  null  : (24px, 1.4),
);

$fs-heading-5: (
  null  : (18px, 1.5),
  small  : (20px, 1.5),
);

$fs-heading-6: (
  null  : (18px, 1.6),
);

$fs-menu: (
  null: (15px, 1.1),
  medium: (17px, 1.1),
);

$fs-display-1: (
  null  : (32px, 1.3),
  small: (40px, 1.2),
  large : (48px, 1.2),
  widescreen: (56px, 1.125, -1px)
);

$fs-button-small: (
  null: (15px, 1.2),
  medium: (17px, 1.2),
);

$fs-button-medium: (
  null: (16px, 1.2),
  small: (18px, 1.2),
);

%menu {
  @include font-size($fs-menu);
  font-family: $font-menu;
  font-weight: $font-menu-weight;
  // text-transform: uppercase;
  // letter-spacing: 0.5px;
}

%heading {
  font-family: $font-heading;
  font-weight: $font-heading-weight;
  color: $color-heading;
}

%heading-1 {
  @extend %heading;
  @include font-size($fs-heading-1);
}

%heading-2 {
  @extend %heading;
  @include font-size($fs-heading-2);
}

%heading-3 {
  @extend %heading;
  @include font-size($fs-heading-3);
}

%heading-4 {
  @extend %heading;
  @include font-size($fs-heading-4);
  font-weight: $font-body-weight-medium;
}

%heading-5 {
  @extend %heading;
  @include font-size($fs-heading-5);
  font-weight: $font-body-weight-medium;
}

%heading-6 {
  @extend %heading;
  @include font-size($fs-heading-6);
  font-weight: $font-body-weight-medium;
}

%body {
  @include font-size($fs-body);
  font-family: $font-body;
  font-style: $font-body-style;
  font-weight: $font-body-weight;
  line-height: 1.6;
  color: $color-text-subdued;
}

%body-medium {
  @extend %body;
  @include font-size($fs-body-medium);
}

%body-large {
  @extend %body;
  @include font-size($fs-body-large);
}
