// Content widths
$section-max-width: 720px;

// Inset spacing
$space-inset-default: 16px 16px 16px 16px;
$space-inset-xs: 4px 4px 4px 4px;
$space-inset-s: 8px 8px 8px 8px;
$space-inset-m: 16px 16px 16px 16px;
$space-inset-l: 32px 32px 32px 32px;
$space-inset-xl: 64px 64px 64px 64px;

// Stack spacing
$spacing-stack-default: 0 0 16px 0;
$spacing-stack-xs: 0 0 4px 0;
$spacing-stack-s: 0 0 8px 0;
$spacing-stack-m: 0 0 16px 0;
$spacing-stack-l: 0 0 32px 0;
$spacing-stack-xl: 0 0 64px 0;

// General spacing
$spacing-default: 16px;
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 16px;
$spacing-l: 32px;
$spacing-xl: 64px;

// Gutters
$gutter-large: 32px;
$gutter-medium: 24px;
$gutter-small: 16px;


// Grid
$neat-grid: (
  columns: 12,
  gutter: $gutter-large,
);

// Vertical Gutters
$vgutter-large: 48px;
$vgutter-medium: 32px;
$vgutter-small: 24px;

// Padding & Margin mixins
@mixin gutter($property, $factor: 1) {
  @include media(max-width medium) { #{$property}: $gutter-small * $factor; }
  @include media(medium-up) { #{$property}: $gutter-medium * $factor; }
  @include media(large-up) { #{$property}: $gutter-large * $factor; }
}

@mixin vgutter($property, $factor: 1) {
  @include media(max-width medium) {
    #{property}: $gutter-small * $factor;
  }

  @include media(medium-up) {
    #{property}: $gutter-medium * $factor;
  }

  @include media(large-up) {
    #{property}: $gutter-large * $factor;
  }
}

// Specific Margins
@mixin margin-gutter-right($factor: 1) {
  @include gutter(margin-right, $factor);
}

@mixin margin-gutter-left($factor: 1) {
  @include gutter(margin-left, $factor);
}

@mixin margin-gutter-top($factor: 1) {
  @include vgutter(margin-top, $factor);
}

@mixin margin-gutter-bottom($factor: 1) {
  @include vgutter(margin-bottom, $factor);
}

@mixin margin-gutters($factor: 1) {
  @include margin-gutter-right($factor);
  @include margin-gutter-left($factor);
}

// Specific Paddings
@mixin padding-gutter-right($factor: 1) {
  @include gutter(padding-right, $factor);
}

@mixin padding-gutter-left($factor: 1) {
  @include gutter(padding-left, $factor);
}

@mixin padding-gutter-top($factor: 1) {
  @include vgutter(padding-top, $factor);
}

@mixin padding-gutter-bottom($factor: 1) {
  @include vgutter(padding-bottom, $factor);
}

@mixin padding-gutters($factor: 1) {
  @include padding-gutter-right($factor);
  @include padding-gutter-left($factor);
}
