// Layout

%layout-container {
  max-width: $max-width;
  padding-right: $spacing-l;
  padding-left: $spacing-l;
  margin-right: auto;
  margin-left: auto;
  transition: padding $transition-medium ease-in;

  @include media(max-width medium) {
    padding-right: $spacing-m;
    padding-left: $spacing-m;
  }

  @include media(large) {
    padding-right: $spacing-xl;
    padding-left: $spacing-xl;
  }
}

%layout-container--reset {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;

  @include media(medium) {
    padding-right: 0;
    padding-left: 0;
  }
}

%center-within {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
}

%center-within-reset {
  position: inherit;
  top: auto;
  transform: translateY(0);
}

// Buttons
%button-base {
  @include button-size(small);
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  border-radius: $button-radius;
  transition:
    background-color $transition-medium ease,
    width $transition-medium ease,
    height $transition-medium ease;
}

%button-disable {
  &,
  &:active,
  &:focus {
    color: $color-button-text;
    cursor: default;
    background-color: $color-button-background;
    border: 1px solid $color-button-background;
  }
}

%button-primary {
  @extend %button-base;
  color: $color-button-text;
  background-color: $color-button-background;
  border: 1px solid $color-button-background;

  &:not(.disabled):hover {
    background: $color-button-background-hover;
    border: 1px solid $color-button-background-hover;
  }

  &:active,
  &:focus {
    background: $color-button-background-hover;
    border: 1px solid $color-button-background-hover;
  }

  &.disabled { @extend %button-disable; }
}

%button-large {
  @include button-size(medium);
}

%button-secondary {
  @extend %button-base;
  color: $color-button-secondary-text;
  background-color: $color-button-background;
  border: 1px solid $color-button-background;

  &:not(.disabled):hover {
    background: $color-button-background;
    border: 1px solid $color-button-background;
  }

  &.disabled { @extend %button-disable; }
}

%clearfix {
  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}
