// Layout

%layout-container {
  @include padding-gutters;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  transition: padding $transition-medium ease-in;
}

%layout-container--reset {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;

  @include media(medium) {
    padding-right: 0;
    padding-left: 0;
  }
}

%center-within {
  position: absolute;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
}

%center-within-reset {
  position: inherit;
  top: auto;
  transform: translateY(0);
}

%clearfix {
  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}
