<section class="getstarted-section">
  <div class="pink-embelishment">
    {% include 'illustration' with 'sweetly-embelishment-pink' %}
  </div>
  <div class="purple-embelishment">
    {% include 'illustration' with 'sweetly-embelishment-purple' %}
  </div>
  <div class="getstarted-section-container section-container">
    <div class="section-header">
      <h2 class="section-title getstarted-title">Starting at $29.99 per month</h2>
      <p class="section-text getstarted-text">Start getting recipes delivered straight to your door! <br /> No commitment. You can skip or cancel anytime.</p>
      <button class="button button-large button-primary">Choose a package</button>
    </div>
  </div>
</section>
