{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="hero" class="hero-section">
  <div class="hero-section-container section-container">
    <div class="hero-section-content">
      <h2 class="hero-section-title">Sweeten your life</h2>
      <p class="hero-section-text">Get everything you need to make amazing desserts  delivered in one perfectly customized box.</p>
      <button class="hero-section-button button-primary button-large">View our boxes</button>
    </div>
  </div>
 </section>
